@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
	font-family: "Didact Gothic", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
}

header {
	background-color: #1B1B1B;
}

#hero{
	background-image: url("../img/hero-background.png");
	background-position: center;
	background-size: cover;
	padding: 30%;
}

#about-me{
	background-image: url("../img/background-2.png");
	background-position: center;
	background-size: cover;
	color: white;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.30);
}

#about-me h2{
	padding-top: 100px;
	padding-left: 100px;
}

#about-me p{
	padding-bottom: 5px;;
	padding-left: 100px
}

#services{
	text-align: center;
	background-color: white;
	color: #1B1B1B;
	padding: 100px;
}

.services-list{
	text-align: left;
	background-color: #DAFB83;
	padding: 50px;
	border-radius: 50px;
}

#projects {
	background-color: #1B1B1B; 
    padding: 40px 20px;
	color: white;
	text-align: center;
}

#projects h2{
	padding-bottom: 50px;
}

.categoria {
    background: #FF66F4;
    border-radius: 50px;
    padding: 20px;
    margin: 20px auto;
	max-width: 1400px;
	align-items: center;
}

.item {
    background: white;
	padding: 5px;
    border-radius: 15px;
	margin: 20px;
	max-width: 350px;
}

.item img {
	border-radius: 15px;
	width: 300px;
}

.titulo-categoria {
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

h2{
	font-size:80px; 
	font-weight: bolder;
	padding-top: 100px;
}

h3{
	font-weight: bolder;
	color: #1B1B1B;
}

#contact {
    width: 100%;
    height: 100vh;
    background: url("../img/background-1.png") center/cover no-repeat;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: relative;
}

.divider {        
    height: 4px;          
    background: white;    
    border: none;    
    border-radius: 2px; 
   
}
#contact h2{
	color: white;
}

.form-container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 100px;
}

label {
    display: block;
    color: #D548C8;
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 30px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #D548C8;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #FF66F4;
}

footer {
	text-align: center;
	background-color: #DAFB83;
	color: #1E1E1E;
	padding: 40px 0;
}

footer a {
	color: #1E1E1E;
}